@model Labb_7_SecreatNumber.Models.SecretNumber
@{
    ViewBag.Title = "SessionError";
}

<!DOCTYPE html>



    <h2><strong>Spelomgången kunde inte fullföljas!</strong></h2>
    <p>Du väntade för länge med att gissa så spelomgången kunde inte genomföras</p>
    <p>@Html.ActionLink("Börja om", "Index")</p>